body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#file-ip-1-preview{
  height: 77px;
   
    width: 100%;
    object-fit: contain;
  
}
#file-ip-2-preview{
  height: 77px;
   
    width: 100%;
    object-fit: contain;
  
}
#comp_logo{
  height: 170px;
   
    width: 100%;
    object-fit: contain;
}
.marketImage{
  width: 230px !important;
  height: 120px !important;
}
#marketImage{
  height: 150px;
   
    width: 100%;
    object-fit: contain;
}

    .note-toolbar{
      text-align: left !important;
    background: white !important;
    }
    .note-btn-group .btn {
      background-color: #999999 !important;
      margin-top: 0px;
    }
    .summernote{
      
    position: rel;
    display: flex;
    overflow: hidden;
    height: auto;
    width: 100%;
    text-align: center;
    background-color:#ffffff6c;
    }
    .note-editor.card:after{
      content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
}
.note-editor .note-airframe .card{
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: auto;
    width: 100%;
    text-align: center;
    color: #000 !important;
    background-color: #fff !important;
}
.note-editor.note-frame{
  color: #ffffff!important;
  background-color: white!important;
}
    
 
  
    .note-editing-area.card{
      position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
}


.note-editor.note-frame {
    color: black!important;
}


.card::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	pointer-events: none;
	transform: translateY(-50%);
	/* Use separate transition properties instead of calc() inside shorthand */
	transition-property: transform;
	transition-duration: calc(var(--d) * 2);
	transition-timing-function: var(--e);
}

.note-btn-group.note-insert{
  display: none;
}
.dropdown-toggle::after{
  display: none;
}
    